@font-face {
  font-family: 'Averta Demo PE Cutted Demo';
  src: url('/fonts/AvertaDemoPECuttedDemo-Regular.otf');
}

@font-face {
  font-family: 'Averta Demo PE Extra Bold';
  src: url('/fonts/AvertaDemoPE-ExtraBold.otf');
}